<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css' integrity='sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==' crossorigin='anonymous'/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap" rel="stylesheet">  
  <script src="https://unpkg.com/vue@3"></script>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.2/css/bootstrap.min.css' integrity='sha512-CpIKUSyh9QX2+zSdfGP+eWLx23C8Dj9/XmHjZY2uDtfkdLGo0uY12jgcnkX9vXOgYajEKb/jiw67EYm+kBf+6g==' crossorigin='anonymous'/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/luxon/3.1.0/luxon.min.js" integrity="sha512-79nhbkASdW5wurW8DtF9Vd7BEDKdTbCKkh87lW6W3tk9T4L9Bc58MzmvRzjMcFCSKpjkoRjwzrTdfOa5lkfJ5Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <title>vue-boolzapp</title>
</head>
<body>

    <div id="app" class="d-flex align-items-center">

      <div class="container-c bg d-flex">
 
        <div class="container-page d-flex">
          
          <div class="area-contact">

            <div class="header-page d-flex align-items-center justify-content-between p-2">
              <div class="user">
                <img class="rounded-circle" src="img/avatar_2.jpg" alt="">
                <span class="m-2">Lino</span>
              </div>
              <div class="icons">
                <i class="fa-solid fa-circle-notch"></i>
                <i class="fa-solid fa-message"></i>
                <i class="fa-solid fa-ellipsis-vertical"></i>
              </div>
            </div>

            <div class="notifications d-flex align-items-center p-3">
              <div class="icon rounded-circle d-flex justify-content-center align-items-center fs-5"><i class="fa-solid fa-bell-slash"></i></div>
              <div class="text">
                <span class="notifiche">Ricevi notifiche di nuovi messaggi</span><br>
                <span class="link-secondary text-decoration-underline">Attiva notifiche desktop</span>
              </div>
            </div>

            <div class="p-2 input-group flex-nowrap">
              <span class="input-group-text bg-white" id="addon-wrapping"><i class="fa-solid fa-magnifying-glass"></i></span>
              <input
              v-model="searchContact"
              type="text" class="form-control border-start-0" placeholder="Cerca o inizia una nuova chat" aria-label="Username" aria-describedby="addon-wrapping">
            </div>
            <div class="contacts">
              <ul class="p-0">
                <li v-show="contact.name.toLowerCase().includes(searchContact.toLowerCase())"
                @click="contactActive = index"
                v-for="(contact, index) in contacts">
                  <div class="user d-flex px-3 py-2 border-top">
                    <img class="rounded-circle" :src="contact.avatar" alt="">
                    <div class="utilities">
                      <h6 class="ms-3 mb-0">{{contact.name}}</h6>
                      <span class="grigio ms-3">{{contact.messages[contact.messages.length - 1].message}}</span>
                    </div>
                  </div>
                </li>
              </ul>
            </div>

          </div>
          
          <div class="area-msg">

            <div class="header-page d-flex justify-content-between align-items-center p-2">
              <div class="user d-flex">
                <img class="rounded-circle" :src="contacts[contactActive].avatar" alt="">
                <div class="accesso">
                  <span class="m-2">{{contacts[contactActive].name}}</span><br>
                  <span class="grigio m-2">Ultimo accesso di recente</span>
                </div>
              </div>
              <div class="icons">
                <i class="fa-solid fa-magnifying-glass"></i>
                <i class="fa-solid fa-paperclip"></i>
                <i class="fa-solid fa-ellipsis-vertical"></i>
              </div>
            </div>

            <div class="area-text p-5">
              <div v-for="(mex, index) in contacts[contactActive].messages" :class="(mex.status === 'send') ? 'msg-send' : 'msg-received'" class="rounded mb-2">
                <p class="text">{{mex.message}}</p>
                <span class="ora">{{mex.date}}</span>
              </div>
            </div>

            <div class="footer-page d-flex justify-content-between align-items-center">
              <div class="icon d-inline-block p-4"><i class="fa-regular fa-face-smile fs-5"></i></div>
              <div class="input-group flex-nowrap">
                <input @keyup.enter="addMessage()"
                v-model="newMsgString" type="text" class="form-control border-0" placeholder="Scrivi un messaggio" aria-label="Username" aria-describedby="addon-wrapping">
              </div>
              <div class="icon d-inline-block p-4"><i class="fa-solid fa-microphone fs-5"></i></div>
            </div>

          </div>
          
        </div>
        
        
        
      </div>
        
        
      </div>
      
  
  <script src="js/app.js"></script>
</body>
</html>